<ul class="current">
{% assign parts = page.url | downcase | split: '-' %}
{% assign part_group = parts[0] %}
{% assign current_group = nil %}
{% for doc in site.docs %}
    {% assign page_group = doc[1] %}
    {% if page_group != nil %}
        {% assign page_title = doc[2] %}
        {% assign page_url = doc[0] %}
        {% if page_group != current_group %}
            {% if current_group != nil %}
    </li>
            {% endif %}
            {% assign current_group = page_group %}
            {% assign group =  page_group  | replace: ' ', '' | downcase | prepend: '/' %}
    <li class="toctree-l1 {% if part_group == group %}current{%endif%}">
        <a class="{% if part_group == group %}current{%endif%}" href="/{{ page_url }}">{{ page_group }}</a>
        {% endif %}

        {% if part_group == group %}
            <ul>
                <li class="toctree-l2"><a href="/{{ page_url }}">{{ page_title }}</a></li>
            </ul>
        {% endif %}
    {% endif %}
{% endfor %}
{% if current_group != nil %}
    </li>
{% endif %}
</ul>
